<html>
    <head>
        <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
        </head>
    <body>
        <center>
            <h1>FLIGHT DELAY PREDICTION</h1>
           
           <div id="form">
            <form class="form-group" action="/prediction" method="post" >
                <div class="row">
                    <div class="col-md-12">
               <div class="row ">
                        <p class="fw-bolder  col-6">ENTER THE FLIGHT NUMBER : </p>
                        <input class="form-control-lg form-control-inline form-control " type="text" name="name" />
                </div>
                
                <div class="row input-feilds">
                    <p class="fw-bolder col-6">MONTH : </p>
                    <input class="form-control-lg form-control-inline form-control" type="text" name="month" />
                </div>   
                
                <div class="row input-feilds">
                    <p class="fw-bolder col-6">DAY OF MONTH : </p>
                    <input class="form-control-lg form-control-inline form-control" type="text" name="dayofmonth" />
                </div>
                
                <div class="row input-feilds">
                    <p class="fw-bolder col-6">DAY OF WEEK : </p>
                    <input class="form-control-lg form-control-inline form-control" class="form-control-inline form-control" type="text" name="dayofweek" />
                </div>    
              
               <div class="row input-feilds">  
                <p class="fw-bolder col-6">ORIGIN : </p>
                <select class="form-select form-select-lg form-control-inline " name="origin">
                    <option value="alt">ATL - Hartsfield-Jackson Atlanta International</option>
                    <option value="dtw">DTW - Detroit Metropolitan Wayne County </option>
                    <option value="sea">SEA - Seattle-Tacoma International</option>
                    <option value="msp">MSP - Minneapolis−Saint Paul International</option>
                    <option value="jfk">JFK - John F. Kennedy International</option>
                </select>
              </div>
              <div class="row input-feilds">  
              <p class="fw-bolder col-6">DESTINATION : </p>
                <select class="form-select form-select-lg form-control-inline" name="destination">
                    <option value="alt">ATL - Hartsfield-Jackson Atlanta International</option>
                    <option value="dtw">DTW - Detroit Metropolitan Wayne County </option>
                    <option value="sea">SEA - Seattle-Tacoma International</option>
                    <option value="msp">MSP - Minneapolis−Saint Paul International</option>
                    <option value="jfk">JFK - John F. Kennedy International</option>
                </select>
            </div> 
            <h2 class="flight-time">ENTER THE FLIGHT TIMINGS</h2>
             <div class="row time input-feilds " >  
                <p class="fw-bolder sdt">SCHEDULED DEPARTURE TIME : </p>
                <div class="col-sm-6 time2">
                <label class="fw-bolder">Hour : </label>
                <input placeholder="00" class="form-control-lg form-control-inline form-control" type="text" name="depthr" />
                </div>
                <div class="col-sm-6">
                <label class="fw-bolder">Minutes : </label>
                <input placeholder="00" class="form-control-lg form-control-inline form-control" type="text" name="deptmin" />
                </div>    
            </div>    
            <div class="row time">    
                
                <p class="fw-bolder">ACTUAL DEPARTURE TIME : </p>
                <div class="col-sm-6 time2">
                <label class="fw-bolder">Hour : </label>
                <input placeholder="00" class="form-control-lg form-control-inline form-control" type="text" name="actdepthr" />
                </div>
                <div class="col-sm-6 ">
                <label class="fw-bolder">Minutes : </label>
                <input placeholder="00" class="form-control-lg form-control-inline form-control" type="text" name="actdeptmin" />
                </div>    
            </div>    

            <div class="row time">
                <p class="fw-bolder">SCHEDULED ARRIVAL TIME : </p>
                <div class="col-sm-6 time2">
                <label class="fw-bolder">Hour : </label>
                <input placeholder="00" class="form-control-lg form-control-inline form-control" type="text" name="arrtimehr" />
                </div>
                <div class="col-sm-6">
                <label class="fw-bolder">Minutes : </label>
                <input placeholder="00" class="form-control-lg form-control-inline form-control" type="text" name="arrtimemin" />
                </div>    
            </div>
                <button type="submit" class="input-feilds btn btn-outline-light btn-lg">PREDICT</button>
            </div>
            </div>
            </form>
            <p>{{y}}</p>
        </div>
        </center>
        
    </body>
</html>
